@charset "UTF-8";

body {background-color:#FFF; }

ul.hnav {
  margin: 8px;
  padding: 1px;
}

li.hnav-first {
  display: inline;
  padding-right: 0.5em;
}
li.hnav {
  display: inline;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
li.hnav-first:before {
  content: "";
  margin: 0 1em 0 0;
}
li.hnav:before {
  content: " ∙ ";
  margin: 0 1em 0 0;
  color: #7Ea94E;
}

#container {background-color:#FFF; width: 960px; }

#header {
    background-color:#4E791E;
    font-family: sans-serif;
    font-size: 14pt;
    color:#FFF;
    padding: 1px;
    text-align: center; 
}

#header a {color:#FFF; text-decoration:none;}

#header a:hover {color:#FFF; text-decoration:underline;}

#header a:visited {color:#FFF; text-decoration:none;}

#content {background-color:#4F7A00;font-family: sans-serif; font-size: 12px; color:#ffffff; padding: 10px 20px 10px 20px;}

#content a {color:#FFF; text-decoration:underline;}

#content a:hover {color:#FFF; text-decoration:underline;}

#content a:visited {color:#FFF; text-decoration:underline;}

#footer {background-color:#BEDE86; font-family: sans-serif; font-size: 11px; color:#4F7A00; padding: 10px 10px 10px 10px;}

th {
  text-align: left;
  padding: 0 0.6em 0 0.6em;
}
td {
  padding: 0 0.6em 0 0.6em;
}
